behaving==3.1.5
Appium-Python-Client==2.10.1
ckanapi==4.7
coverage==7.7.*
factory-boy
flake8==6.0.0
junit2html==31.0.*
mock
pytest-cov
pytest-ckan
pytest-html
selenium<4.10
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
